.filters {
  display: flex;
  align-items: flex-end;
  gap: 20px;
  margin-bottom: 20px;

  &__select {
    width: 100%;
    max-width: 200px;
  }

  &__search {
    flex-grow: 1;
  }
}

.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.pagination {
  display: flex;
  justify-content: flex-end;
}
